* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-color: black;
    background-color: #00A8A8;
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.circle1 {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: linear-gradient(-25deg, #d84869, #f46641);
    box-shadow: 0 0 50px #d84869;
    position: absolute;
    top: 5%;
    left: 30%;
    animation: animateCircle1 10s infinite;
}

@keyframes animateCircle1 {
    50% {
        top: 4%;
        left: 33%;
        scale: 1.11;
    }
}

.circle2 {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background: linear-gradient(-25deg, #5648d8, #8641f4);
    box-shadow: 0 0 50px #5648d8;
    position: absolute;
    top: 45%;
    left: 50%;
    animation: animateCircle2 8s infinite;
}

@keyframes animateCircle2 {
    50% {
        top: 46%;
        left: 46%;
    }
}

.card {
    padding: 70px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff1a;
    z-index: 10;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.img {
    width: 150px;
    border-radius: 50%;
}

.heading1 {
    color: white;
    font-size: 45px;
    margin-top: 40px;
}

.heading2 {
    color: #ffffff85;
    margin-top: 20px;
    font-size: 20px;
}

.btn {
    margin-top: 30px;
    display: flex;
    gap: 10px;
}

.btn1 {
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 3px;
    cursor: pointer;
}

.share {
    cursor: pointer;
}

.btn2 {
    padding-left: 40px;
    padding-right: 40px;
}

.btn1:hover {
    transition: all 0.5s ease-in-out;
    background-color: white;
    color: black;
}

.modal {
    position: absolute;
    z-index: 20;
    scale: 0;
    background-color: #010000b5;
    background-color: #44444C;
    color: white;
    padding: 30px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.modalHeading {
    display: flex;
    font-size: 20px;
    gap: 180px;
    border-bottom: 2px solid #ffffff1a;
    justify-content: space-between;
    align-items: center;
}

.close {
    cursor: pointer;
}

.sharevia {
    font-size: 20px;
    margin-top: 20px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.icon {
    font-size: 50px;
}

.icon:hover {
    cursor: pointer;
}

#facebook {
    color: #1771e6;
}

#twitter {
    color: #1c99e6;
}

#instagram {
    color: #cb2770;
}

#whatsapp {
    color: #2fe664;
}

#telegram {
    color: #0081c2;
}

.active {
    scale: 1;
    transition: 0.5s ease-in-out;
}

.overlay {
    position: fixed;
    background-color: #3e3e3e83;
    top: 0;
    opacity: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    transition: 0.5s ease-in-out;
}

.activeOverlay {
    opacity: 1;
    pointer-events: initial;
}